version: "3.9"

services:
    app:
        container_name: marktaguiad.dev
        image: ghcr.io/mcbtaguiad/marktaguiad.dev:${IMAGE_TAG}
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        ports:
            - "8080:80"
