// Fonts
$font-family-body: "JetBrains Mono", monospace;
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
// $colors: "dark" 


:root {
    /* shared / defaults */
    --accent: #4078c0;
  }
  
  /* ===== DARK THEME ===== */
  html.theme-dark {
    --bg: #000000;
    --bg-code: #9f8e8e;
    --border: #666;
    --meta: #666;
    --meta-code: #666;
    --text: #acaeb1;
    --link: #4078c0;
  
    --accent-1: #acaeb1;
    --accent-2: #eeeeee;
    --accent-3: #cccccc;
    --quote: #ccffb6;
  
    --footer-1: #202225;
    --footer-2: #2a2d30;

    --meta-dark: #444;   /* dark theme */

      /* alert base */
    --alert-bg: #111;
    --alert-border-note: #3b82f6;
    --alert-border-warning: #f59e0b;
    --alert-border-danger: #ef4444;
    --alert-border-info: #22c55e;

    --alert-bg-note: rgba(59,130,246,0.12);
    --alert-bg-warning: rgba(245,158,11,0.12);
    --alert-bg-danger: rgba(239,68,68,0.12);
    --alert-bg-info: rgba(34,197,94,0.12);

    --alert-title-note: #93c5fd;
    --alert-title-warning: #fcd34d;
    --alert-title-danger: #fca5a5;
    --alert-title-info: #86efac;
  }
  
  /* ===== LIGHT THEME ===== */
  html.theme-light {
    --bg: #ffffff;
    --bg-code: #fafafa;
    --border: #666;
    --meta: #666;
    --meta-code: #7a7a7a;
    --text: #383838;
    --link: #4078c0;
  
    --accent-1: #383838;
    --accent-2: #383838;
    --accent-3: #8c8c8c;
    --quote: #024950;
  
    --footer-1: #f7f7f7;
    --footer-2: #e6e6e6;

    --meta-dark: #aaa; /* light theme */
      --alert-bg: #f9fafb;
    --alert-border-note: #3b82f6;
    --alert-border-warning: #f59e0b;
    --alert-border-danger: #ef4444;
    --alert-border-info: #22c55e;

    --alert-bg-note: #eff6ff;
    --alert-bg-warning: #fffbeb;
    --alert-bg-danger: #fef2f2;
    --alert-bg-info: #f0fdf4;

    --alert-title-note: #1d4ed8;
    --alert-title-warning: #b45309;
    --alert-title-danger: #b91c1c;
    --alert-title-info: #15803d;
  }


