// Fonts
$font-family-body: "JetBrains Mono", monospace;
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
// $colors: "dark" 


:root {
    /* shared / defaults */
    --accent: #4078c0;
  }
  
  /* ===== DARK THEME ===== */
  html.theme-dark {
    --bg: #000000;
    --bg-code: #9f8e8e;
    --border: #666;
    --meta: #666;
    --meta-code: #666;
    --text: #acaeb1;
    --link: #4078c0;
  
    --accent-1: #acaeb1;
    --accent-2: #eeeeee;
    --accent-3: #cccccc;
    --quote: #ccffb6;
  
    --footer-1: #202225;
    --footer-2: #2a2d30;

    --meta-dark: #444;   /* dark theme */
  }
  
  /* ===== WHITE THEME ===== */
  html.theme-light {
    --bg: #ffffff;
    --bg-code: #fafafa;
    --border: #666;
    --meta: #666;
    --meta-code: #7a7a7a;
    --text: #383838;
    --link: #4078c0;
  
    --accent-1: #383838;
    --accent-2: #383838;
    --accent-3: #8c8c8c;
    --quote: #024950;
  
    --footer-1: #f7f7f7;
    --footer-2: #e6e6e6;

    --meta-dark: #aaa; /* light theme */
  }


