$color-background: var(--bg);
$color-footer-mobile-1: var(--footer-1);
$color-footer-mobile-2: var(--footer-2);
$color-background-code: var(--bg-code);
$color-border: var(--border);
$color-meta: var(--meta);
$color-meta-code: var(--meta-code);
$color-link: var(--link);
$color-text: var(--text);
$color-accent-1: var(--accent-1);
$color-accent-2: var(--accent-2);
$color-accent-3: var(--accent-3);
$color-quote: var(--quote);